{% extends "bookmarks/base.html" %}
{% load static %}

{% block add_bookmarks %}

<div class="container">
    <h5 class="card-header">Добавить закладку:</h5>
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="row tm-register-row tm-mb-35">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-login-l">
        <form method="post">
            {% csrf_token %}
            <div class="input-field">
                {{form.as_p}}
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
        <div>
            <p></p>
        </div>
        <div>
            <a href="{% url 'index' %}" class="btn btn-primary">Главная</a>
        </div>
        </div>
    </div>
    {% else %}
    <h6 class="card-header"><a href="{% url 'login' %}">Авторизуйтесь</a> или <a href="{% url 'register' %}">зарегистрируйтесь</a></h6>
    {% endif %}
</div>
{% endblock %}